<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcXrg1krSDaBtSbBun7U6kQ2soZ3H23og</string>
	<key>GCM_SENDER_ID</key>
	<string>1091705625231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VassCompany.WhatsVass</string>
	<key>PROJECT_ID</key>
	<string>whatvass</string>
	<key>STORAGE_BUCKET</key>
	<string>whatvass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091705625231:ios:8f051d8fc6d0b17eb4aefa</string>
</dict>
</plist>